# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# Output folders
./output/*
./input/*
./font/*
./subtitles/*
./videos/*

# System files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
